name: Java CI with Maven

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read
  dependency-graph: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven

      - name: Build and Test with Maven
        # O comando 'verify' no Maven executa o ciclo de vida completo: 
        # compila, testa (TDD) e empacota.
        run: mvn -B verify --file pom.xml

      - name: Update dependency graph
        # Esta etapa só rodará se o build/teste passar
        if: github.event_name != 'pull_request'
        uses: advanced-security/maven-dependency-submission-action@v3
